# Question 1
Try 5 Different functions of the String in Python.
 For example - index, split function.
Question

In [2]:
#Creating 1 string 
str = "dhananjay kumar prasad"

## Trying 5 Functions Of String

In [3]:
str.upper()

'DHANANJAY KUMAR PRASAD'

In [4]:
str.islower()

True

In [5]:
str.isupper()

False

In [6]:
str.split()

['dhananjay', 'kumar', 'prasad']

In [7]:
str.startswith("m")

False

# Question 2
Try 5 Different functions of the List object in Python

In [8]:
#Creating a list 
lst = [1,10,24,32]

# #Trying 5 Functions Of List

In [9]:
lst.count(1)

1

In [10]:
lst.index(10)

1

In [11]:
lst.sort(reverse=True)
lst

[32, 24, 10, 1]

In [12]:
lst.insert(0,20)
lst

[20, 32, 24, 10, 1]

In [13]:
lst.append(42)
lst

[20, 32, 24, 10, 1, 42]

# Question 3
Experiment with at least 5 default functions of Dictionary

In [14]:
#creating a dictionary 
dict = {"name" : "dhananjay", "Add" : "prasad", "Gen" : "M"}

In [15]:
print (dict)

{'name': 'dhananjay', 'Add': 'prasad', 'Gen': 'M'}

# 5 Dict Functions

In [16]:
dict.get("name")

'dhananjay'

In [17]:
dict.items()

dict_items([('name', 'dhananjay'), ('Add', 'prasad'), ('Gen', 'M')])

In [18]:
dict.values()

dict_values(['dhananjay', 'prasad', 'M'])

In [19]:
dict.keys()

dict_keys(['name', 'Add', 'Gen'])

In [21]:
dict.update({"Color" : "white"})
dict

{'name': 'dhananjay', 'Add': 'prasad', 'Gen': 'M', 'Color': 'white'}